    body {
        margin: 0;
    }
    h1,
    h2,
    h3,
    p {
        margin: 0;
        padding: 0 10px;
    }
   
    /*header*/
    header {
        width: 600px;
        margin: 0 auto;
        border:  1px solid lightgray;
    }
    main {
        width: 600px;
        margin: 0 auto;
        border: 1px solid lightgray;
    }
    .navigation,
    .upper {
        display: flex;
        flex-direction: row;
        height: 80px;
    }
    .navigation {
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
}
    .avatar {
        border-radius: 100%;
    }
    /*Poster*/

.upper {
    height: 80px;
    padding: 30px 10px 20px;
    justify-content: left;
    gap: 20px;
}
.user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-img {
    width: 100%;
}
.icons {
    display: flex;
    gap: 20px;
    padding: 10px 10px 0 10px;
}
.icon {
    height: 30px;
}
.icon:hover {
    opacity: 0.5;
}

.lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

    